<div class="header">
  <h1>Questions Answered</h1>
</div>



  {{post-new savePost="savePost"}}

  <div class="container recently-added">
    <h3>Recently Added Questions</h3>

    <ul>
      {{#each model.posts as |post|}}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{post.author}}</h3>
          </div>
          <div class="panel-body">
            {{#link-to 'post' post.id}}
              {{post-close post}} {{post.question}}
            {{/link-to}}
            <br>
            {{post.posting_date}}
            <button {{action 'addToSavedPosts' post}}>Add to Saved Posts</button>
          </div>
        </div>
      {{/each}}
    </ul>
  </div>
  <div class="container saved-posts">
    <h3>Saved Posts</h3>
    <ul>
      {{display-savedposts}}
    </ul>
  </div>
